<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light topper"><span class="font-popular-medium"><a href="https://www.startribune.com/local/">Local</a></span></h5>
    <h1>Following historic unrest, data show a quieter Minneapolis</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2019-11-11T16:00:00">June 15, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

<section class="container-lg leadin">
    <p>While demonstrations continue nationwide following the deaths of George Floyd and other black people at police hands, Minneapolis call data show the city is quieter following an initial surge of unrest.</p>

    <p>And even as the city continues reopening after months of pandemic-related shutdowns, police reports have fallen below average levels.</p>

    <p>For instance, reports of gunshot-like noises from ShotSpotter and 911 calls spiked after Floyd's death before dipping to near silence. While ShotSpotter activations in Minneapolis detect many false positives, the microphone network seemingly captured several nights of turmoil.</p>

    <p>&nbsp;</p>
  </section>

  <div class="slide space">
      <iframe title="ShotSpotter" aria-label="Interactive line chart" id="datawrapper-chart-k59tg" src="https://datawrapper.dwcdn.net/k59tg/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
  </div>

  <section class="body">
    <p>Mapping police incidents, confirmed fires and gunfire reports day-by-day since Floyd's death captures that unrest, followed by activity quickly dissipating.</p>  
  </section>

  <div class="slide space">
        <div class="center">
            <div class="l"><span class="dot incident"></span> police, fire or ShotSpotter incident</div> 
        </div> 
        <div class="slide" id="spill">
            <div id="canContain">
              <div class="canBlock">
                <div class="tinymap" id="tinymap0"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                <div class="canLabel">May 25</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap1"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">May 26</div>
              </div>
              <div class="canBlock">
                <div class="tinymap" id="tinymap2"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                <div class="canLabel">May 27</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap3"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">May 28</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap4"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">May 29</div>
              </div>
              <div class="canBlock ">
                  <div class="tinymap" id="tinymap6"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">May 30</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap5"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">May 31</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap7"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 1</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap8"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 2</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap9"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 3</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap10"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 4</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap11"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 5</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap12"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 6</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap13"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 7</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap14"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 8</div>
              </div>
              <div class="canBlock">
                  <div class="tinymap" id="tinymap15"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 9</div>
              </div>
              <div class="canBlock">
                <div class="tinymap" id="tinymap16"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                <div class="canLabel">June 10</div>
              </div>
              <div class="canBlock">
                 <div class="tinymap" id="tinymap17"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
                  <div class="canLabel">June 11</div>
             </div>
             <div class="canBlock">
               <div class="tinymap" id="tinymap18"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
               <div class="canLabel">June 12</div>
             </div>
             <div class="canBlock">
              <div class="tinymap" id="tinymap19"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
              <div class="canLabel">June 13</div>
            </div>
            <div class="canBlock">
              <div class="tinymap" id="tinymap20"><svg width="300" height="200" viewbox="80 -30 400 390" preserveaspectratio="xMidYMid"></svg></div>
              <div class="canLabel">June 14</div>
            </div>
            </div>
          </div>
          <div class="byline">
              <div>Chart: Jeff Hargarten, Star Tribune • Source: City of Minneapolis</div>
          </div>
    </div>

  <section class="body">
    <p>Minneapolis police and fire department activity swelled over those nights amid burning, looting and confrontations with protesters. Since the arrest of four officers for Floyd's murder, reported calls to those services are much lower than normal.</p>
  </section>

  <div class="slide space">
    <iframe title="Calls" aria-label="Interactive line chart" id="datawrapper-chart-LiBCy" src="https://datawrapper.dwcdn.net/LiBCy/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
  </div>

  <section class="body">
    <p>Police calls and stops, along with confirmed fires, are now down for June compared to last year. Meanwhile, calls to 311, the nonemergency line, dramatically increased as neighborhoods assessed property damage, streets were cleaned up and residents surveyed the initial aftermath.</p>

    <p>It's unclear whether this decline in police activity is related to either residents making fewer calls to authorities, or to relatively quieter summer days during an ongoing pandemic where many events are still canceled and some businesses remain closed.</p>
  </section>
  
  <div class="slide space">
      <iframe title="311" aria-label="Interactive line chart" id="datawrapper-chart-OE3mc" src="https://datawrapper.dwcdn.net/OE3mc/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
  </div>

  <section class="body">
    <p>Mapping these incidents across the city from Floyd's death to three weekends later paints a stark picture of unrest concentrated primarily in Midtown and North Side Minneapolis, with most other places experiencing much lighter activity.</p>   

    <p>Gradually recorded calls started to slow in rate and volume.</p>
  </section>

      <div class="space">
          <div class="center">
              <div id="mainlegend">Minneapolis police and fire reports, May 25 - June 14</div>

              <div class='session' id='sliderbar'>
                <div class="left"><button id="play">&#9658;</button> <label id='active-hour'>showing all</label></div>
                <input id='slider' class='row' type='range' min='0' max='3502' step='2' value='0' />
              </div>

              <div class="l"><span class="dot shotspotter"></span> shots</div> &nbsp; <div class="l"><span class="dot policeM"></span> police</div> &nbsp; <div class="l"><span class="dot fireM"></span> fire</div> &nbsp; <div class="l"><span class="legendary building">damaged building</span></div> &nbsp; <div class="l"><span class="dot precinct"></span> MPD precinct</div> &nbsp; <div class="l"><span class="dot marker"></span> Floyd's death</div> 
            </div>
          <div id="map"></div>
          <div class="byline">
            <div>Map: Jeff Hargarten, Star Tribune • Source: City of Minneapolis</div>
        </div>
      </div>

<section class="container-lg">

  <div class="article-author-contact">

        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Following historic unrest, data show a quieter Minneapolis" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
 </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
