<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light topper"><span class="font-popular-medium"><a href="https://www.startribune.com/local/">Local</a></span></h5>
    <h1>Call data show a calmer Minneapolis</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2019-11-11T16:00:00">June 9, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

<section class="container-lg leadin">
    <p>Unrest roiling Minneapolis triggered by George Floyd's death at police hands – as characterized by protests, fires, property damage, police use-of-force, unrelated gunfire, a National Guard deployment and the destruction of a police precinct – seems to have subsided.</p>

    <p>While peaceful demonstrations and clashes with police continue across the country, and masses of people remain in Minneapolis streets demanding change, city call data show the city is much calmer, for now, following the arrest of four officers charged with Floyd's murder.</p>

    <p>For instance, reports of gunshot-like noises, via both ShotSpotter and 911 calls, spiked the weekend after Floyd's death and then started plummeting to near silence. While a Star Tribune analysis of ShotSpotter activations in Minneapolis show about 70 percent are false positives for gunfire across the past decade, the system of microphones seems to have captured several nights of turmoil.</p>

    <p>&nbsp;</p>
  </section>

  <div class="slide space">
      <iframe title="ShotSpotter" aria-label="Interactive line chart" id="datawrapper-chart-k59tg" src="https://datawrapper.dwcdn.net/k59tg/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
  </div>

  <section class="body">
    <p>Police and fire department activity also swelled over those nights amid burning, looting and confrontations with protesters before dwindling quickly thereafter. Calls to 311, the nonemergency line, also dramatically increased as neighborhoods assessed property damage, graffiti was cleaned up and residents surveyed the aftermath.</p>       
  </section>

  <div class="slide space">
    <iframe title="Calls" aria-label="Interactive line chart" id="datawrapper-chart-LiBCy" src="https://datawrapper.dwcdn.net/LiBCy/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
  </div>

  <section class="body">
    <p>Mapping these incidents across the city from Floyd's death to two weekends later paints a stark picture of unrest concentrated primarily in Midtown and North Side Minneapolis, with most other places experiencing much lighter activity. Over time, calls to the city started tapering off.</p>       
  </section>

      <div class="space">
          <div class="center">
              <div id="mainlegend">Incidents by date</div>
              <div class="legend"><div class="orange1"></div><div class="orange2"></div><div class="orange3"></div><div class="orange4"></div><div class="orange5"></div><div class="blue6"></div><div class="blue5"></div><div class="blue4"></div><div class="blue3"></div><div class="blue2"></div><div class="blue1"></div></div>
              <div class="legend2"><div class="white">May 25</div><div class="white">26</div><div class="white">27</div><div class="white">28</div><div class="white">29</div><div class="white">30</div><div class="white">31</div><div class="white">June 1</div><div class="white">2</div><div class="white">3</div><div class="white">4</div></div>
              <div class="l"><span class="dot shotspotter"></span> sound of shots</div> &nbsp; <div class="l"><span class="dot fire"></span> fire</div> &nbsp; <div class="l"><span class="dot call"></span> 311 call</div> &nbsp; <div class="l"><span class="legendary building">damaged building</span></div> &nbsp; <div class="l"><span class="dot precinct"></span> MPD precinct</div> 
            </div>
          <div id="map"></div>
          <div class="byline">
            <div>Map: Jeff Hargarten, Star Tribune • Source: City of Minneapolis</div>
        </div>
      </div>

<section class="container-lg">

  <div class="article-author-contact">

        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Call data show a calmer Minneapolis" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
 </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
